2*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

body{
  width:90%;
  max-width: 960px;
  margin: 0 auto;
  background: #191919;
  color: #ffffff;
  color: #ffffff;
  font-family:'Rubik', 'Arial' , sans-serif;
  text-transform: uppercase;
  font-size: 100%/1.5em;
  word-wrap: break-word;
}

/*фикс для родительского div*/
.clear-fix:before,
.clear-fix:after{
	content: "";
	display: table;
}

.clear-fix:after{
	clear: both;
}

.container{
  position: relative;
  width: 79.16666666666667%; /*760px / 960px*/
  margin: 0 auto;
}
.cols{
  float: left;
}
/*fluid grid*/
.cols.col-1{width: 8.333333333333333%;}
.cols.col-2{width: 16.66666666666667%;}
.cols.col-3{width: 25%;}
.cols.col-4{width: 33.3333333333333%;}
.cols.col-5{width: 41.6666666666667%;}
.cols.col-6{width: 50%;}
.cols.col-7{width: 58.3333333333333%;}
.cols.col-8{width: 66.6666666666667%;}
.cols.col-9{width: 75%;}
.cols.col-10{width: 83.3333333333333%;}
.cols.col-11{width: 91.6666666666667%;}
.cols.col-12{width: 100%;}

.transparent{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.main-header{
  background: #eff0f2;
  border-bottom: 2px solid #191919;
  min-height: 9.0625em; /*145px / 16px*/
}

.main-logo{
  float: left;
  width: 15.78947368421053%; /*180px / 760px*/
  height: 125px;
  margin-top: 0.3125em; /*5px / 16px*/
}

.main-logo img{
  height: 100%;
}

.main-logo a{
  text-decoration: none;
}
/*main-menu effect*/
.main-menu{
  float: left;
  margin-left:25px;
  width: 80%; /*565px / 760px*/
  margin-top: 2.5em; /*35px / 16px*/
}

.anim-menu {
  width: 80px;
  background-color: transparent;
  cursor: pointer;
  border-color: #a29f9f;
}

.anim-menu:last-child {
  width: 92px;
}

.anim-menu:hover {
  border-color: #C672E9;
}

.anim-menu span:nth-child(1) {
  color: #3c3a3a;
}

.anim-menu span:nth-child(2) {
  color: #C672E9;
}

.anim-menu span {
  font-size: 10px;
  letter-spacing: 3px;
}

.anim-menu {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border-style: none;
  height: 45px;
  display: inline-block;
}

.anim-menu span {
  position: absolute;
  box-sizing: border-box;
  display: block;
}

.anim-menu>span>span:nth-child(3), .anim-menu:before, .anim-menu:after,
.anim-menu>:first-child, .anim-menu>:first-child:before,
.anim-menu>:first-child:after {
  border-color: inherit;
  display: block;
  -moz-transition: border-color 0.3s ease;
  -webkit-transition: border-color 0.3s ease;
  transition: border-color 0.3s ease;
}

.anim-menu:before, .anim-menu:after, .anim-menu>:first-child:before,
.anim-menu>:first-child:after {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  position: absolute;
  box-sizing: border-box;
  content: ' ';
}

.anim-menu>span>span:nth-child(3), .anim-menu:before, .anim-menu:after,
.anim-menu>:first-child:before, .anim-menu>:first-child:after {
  border-width: 2px;
}
.anim-menu>span>span:nth-child(3) {
  border-radius: 2px;
}
.anim-menu:before {
  border-radius: 3px 0 0 3px;
}
.anim-menu:after {
  border-radius: 0 3px 3px 0;
}
.anim-menu>:first-child:before {
  border-radius: 3px 3px 0 0;
}
.anim-menu>:first-child:after {
  border-radius: 0 0 3px 3px;
}

.anim-menu>:first-child {
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
}
.anim-menu>span span {
  width: inherit;
  text-align: center;
  -moz-transition: opacity 0.6s ease, top 0.5s ease;
  -webkit-transition: opacity 0.6s ease, top 0.5s ease;
  transition: opacity 0.6s ease, top 0.5s ease;
}
.anim-menu>span>span:nth-child(1) {
  opacity: 1;
  top: 18px;
}

.anim-menu #contacts{
  width:
}

.anim-menu>span>span:nth-child(2) {
  top: 37px;
  opacity: 0;
}
.anim-menu:hover>span>span:nth-child(1) {
  opacity: 0;
  top: 2px;
}
.anim-menu:hover>span>span:nth-child(2){
  opacity: 1;
  top: 18px;
}

.anim-menu>span>span:nth-child(3) {
  top: 28%;
  height: 44%;
  width: inherit;
  border-style: none solid none solid;
}

.anim-menu:before, .anim-menu:after {
  top: 0;
  width: 0;
  height: inherit;
  border-style: solid none solid none;
}

.anim-menu>:first-child:before, .anim-menu>:first-child:after {
  left: 0;
  height: 0;
  width: inherit;
  border-style: none solid none solid;
}

.anim-menu:before {
  -webkit-animation-name: left-center;
  animation-name: left-center;
}

.anim-menu:after {
  -webkit-animation-name: right-center;
  animation-name: right-center;
}

.anim-menu>:first-child:before {
  -webkit-animation-name: center-top;
  animation-name: center-top;
}

.anim-menu>:first-child:after {
  -webkit-animation-name: center-bottom;
  animation-name: center-bottom;
}

.anim-menu:hover:before {
  -webkit-animation-name: center-left;
  animation-name: center-left;
}

.anim-menu:hover:after {
  -webkit-animation-name: center-right;
  animation-name: center-right;
}

.anim-menu:hover>:first-child:before {
  -webkit-animation-name: top-center;
  animation-name: top-center;
}

.anim-menu:hover>:first-child:after {
  -webkit-animation-name: bottom-center;
  animation-name: bottom-center;
}

@-webkit-keyframes center-left {
    0%   {left: 40%; width: 8%; opacity: 0.2;}
    25%  {left: 25%; width: 15%;}
    50%  {left: 0%; width: 30%;}
    80%  {left: 0%; width: 0%;}
    100% {left: 0%; width: 0%; opacity: 1;}
}

@-webkit-keyframes left-center {
    0%   {left: 0%; width: 0%; opacity: 1;}
    20%  {left: 0%; width: 0%;}
    50%  {left: 0%; width: 30%;}
    55%  {left: 40%; width: 11%;}
    100% {left: 43%; width: 8%; opacity: 0.2;}
}

@-webkit-keyframes center-right {
    0%   {left: 52%; width: 8%; opacity: 0.2;}
    25%  {left: 60%; width: 15%;}
    50%  {left: 70%; width: 30%;}
    80%  {left: 100%; width: 0%;}
    100% {left: 100%; width: 0%; opacity: 1;}
}

@-webkit-keyframes right-center {
    0%   {left: 100%; width: 0%; opacity: 1;}
    20%  {left: 100%; width: 0%;}
    50%  {left: 70%; width: 30%;}
    55%  {left: 49%; width: 11%;}
    100% {left: 49%; width: 8%; opacity: 0.2;}
}

@-webkit-keyframes top-center {
    0%   {top: 0%; height: 0%; opacity: 0.2;}
    50%  {top: 0%; height: 0%;}
    60%  {top: 0%; height: 20%;}
    80%  {top: 0%; height: 50%;}
    90%  {top: 25%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}

@-webkit-keyframes center-top {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 25%; height: 25%;}
    20%  {top: 0%; height: 50%;}
    40%  {top: 0%; height: 20%;}
    50%  {top: 0%; height: 0%;}
    100% {top: 0%; height: 0%; opacity: 0.2;}
}

@-webkit-keyframes bottom-center {
    0%   {top: 100%; height: 0%; opacity: 0.2;}
    50%  {top: 100%; height: 0%;}
    60%  {top: 80%; height: 20%;}
    80%  {top: 50%; height: 50%;}
    90%  {top: 50%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}

@-webkit-keyframes center-bottom {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 50%; height: 25%;}
    20%  {top: 50%; height: 50%;}
    40%  {top: 80%; height: 20%;}
    50%  {top: 100%; height: 0%;}
    100% {top: 100%; height: 0%; opacity: 0.2;}
}

@keyframes center-left {
    0%   {left: 40%; width: 8%; opacity: 0.2;}
    25%  {left: 25%; width: 15%;}
    50%  {left: 0%; width: 30%;}
    80%  {left: 0%; width: 0%;}
    100% {left: 0%; width: 0%; opacity: 1;}
}

@keyframes left-center {
    0%   {left: 0%; width: 0%; opacity: 1;}
    20%  {left: 0%; width: 0%;}
    50%  {left: 0%; width: 30%;}
    55%  {left: 40%; width: 11%;}
    100% {left: 43%; width: 8%; opacity: 0.2;}
}

@keyframes center-right {
    0%   {left: 52%; width: 8%; opacity: 0.2;}
    25%  {left: 60%; width: 15%;}
    50%  {left: 70%; width: 30%;}
    80%  {left: 100%; width: 0%;}
    100% {left: 100%; width: 0%; opacity: 1;}
}

@keyframes right-center {
    0%   {left: 100%; width: 0%; opacity: 1;}
    20%  {left: 100%; width: 0%;}
    50%  {left: 70%; width: 30%;}
    55%  {left: 49%; width: 11%;}
    100% {left: 49%; width: 8%; opacity: 0.2;}
}

@keyframes top-center {
    0%   {top: 0%; height: 0%; opacity: 0.2;}
    50%  {top: 0%; height: 0%;}
    60%  {top: 0%; height: 20%;}
    80%  {top: 0%; height: 50%;}
    90%  {top: 25%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}

@keyframes center-top {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 25%; height: 25%;}
    20%  {top: 0%; height: 50%;}
    40%  {top: 0%; height: 20%;}
    50%  {top: 0%; height: 0%;}
    100% {top: 0%; height: 0%; opacity: 0.2;}
}

@keyframes bottom-center {
    0%   {top: 100%; height: 0%; opacity: 0.2;}
    50%  {top: 100%; height: 0%;}
    60%  {top: 80%; height: 20%;}
    80%  {top: 50%; height: 50%;}
    90%  {top: 50%; height: 25%;}
    100% {top: 50%; height: 0%; opacity: 1;}
}

@keyframes center-bottom {
    0%   {top: 50%; height: 0%; opacity: 1;}
    10%  {top: 50%; height: 25%;}
    20%  {top: 50%; height: 50%;}
    40%  {top: 80%; height: 20%;}
    50%  {top: 100%; height: 0%;}
    100% {top: 100%; height: 0%; opacity: 0.2;}
}
/*end main-menu effect*/

.say-hello{
  position: relative;
  background: rgba(255, 255, 255, 0.7) url("../img/bg_main.jpg") no-repeat;
  min-height: 32.1875em; /*515px / 16px*/
}

.main-greeting{
  position: relative;
  margin-top: 3.75em; /*60px / 16px*/
  min-height: 6.25em; /*100px / 16px*/
}

.main-greeting p{

  text-align: center;
  color: #505050;
  font-weight: 700;
  font-size: 1.875em;
  -webkit-text-shadow: 3px 6px 7px #999797;
  	 -moz-text-shadow: 3px 6px 7px #999797;
          text-shadow: 3px 6px 7px #999797;
}

.main-greeting p:last-child{
  margin-bottom: 300px;
}

.main-greeting .blue-square-top{
  position: absolute;
  left: 51%;
  width: 41%; /*160px / 760px*/
  height: 2.25em; /*36px / 16px*/
  background-color: #b2f2ee;
  opacity: 0.4;
}

.main-greeting .blue-square-bottom{
  position: absolute;
  left: 1%;
  top: 4em; /*35px / 16px*/
  width: 17%; /*129px / 760px*/
  height: 2.25em; /*36px / 16px*/
  background-color: #b2f2ee;
  opacity: 0.4;
}

.main-greeting .blue-square-last{
  position: absolute;
  left: 40%;
  top: 6em; /*35px / 16px*/
  width: 20%; /*129px / 760px*/
  height: 2.25em; /*36px / 16px*/
  background-color: #b2f2ee;
  opacity: 0.4;
}
/* Outline Outward */

.button {
  display: block;
  position: absolute;
  bottom: 0;
  width: 30%;
  left: 50%;/*250px / 760px*/
  margin-left: -15%;
  margin-bottom: 0.625em;
  padding: 1em;
  cursor: pointer;
  background: inherit;
  text-decoration: none;
  text-shadow: 0px 2px 1.5px black;
  line-height: normal;
  color: #666666;
  text-align: center;
}

.outline-outward {
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.outline-outward:before {
  content: '';
  position: absolute;
  border: #717171 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.outline-outward:hover:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  box-shadow: 0px 10px 10px #807f7f;
  background-color: rgba(178, 242, 238, 0.2);
}

/*media-queries*/

@media screen and (min-width: 850px) and (max-width: 1068px){
  body{
    width: 100%;
  }
}
